.message-body-r{
	margin: 20px 0px 30px !important;
}

@media screen and (min-width: 480px) {
	.contact-form-r{
		padding: 25px 130px;
		margin: 0px;
		text-align: center;
	}

	.contact-title-r{
		margin: 0px 0px 40px;
		text-align: center;
		font-size: 50px;
		text-decoration: underline;
		text-underline-position: under;
	}
	
}

@media screen and (max-width: 479px) {
	.contact-title-r{
		margin: 25px 0px;
		text-align: center;
		font-size: 25px;
		text-decoration: underline;
		text-underline-position: under;
	}

}