.loginBackgroundImage-r {
	position: relative;
	background: url('../img/main-banner.jpg') center;
	background-size: cover;
	height: 92vh !important;
}

.nav-bar-r{
	position: fixed !important;
		top: 0 !important;
		z-index: 1000 !important;
		background-color: #F9FDFE !important;
		margin: auto;
		width: 100% !important;
}

.loginLayout-r {
	background-color: rgba(0, 0, 0, .4);
	height: 92vh !important;
}

.text-center-r{
	text-align: center;
}

.button-r{
	background-color: #f06d46;
}


.forgot-password-r{
	margin: 15px 0px;
	color: #f06d46;
	cursor: pointer;
	display: inline-block;
}

.forgot-msg-r{
margin-bottom: 10px;
}


.outer-box-login-r{
	padding: 0px !important;
}

.full-view-form-padding-r{
	padding: 10px 10px !important;
}


.vertical-align-login-r{
	/* text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%; */

	text-align: center;
	position: absolute;
	right: 0%;
	transform: translate(0%,-50%);
	top: 50%;


}

@media screen and (min-width: 768px) {

	.login-box{
		background-color: rgba(255, 255, 255, 0.6);
		height: 300px;
		border-radius: 25px;
		width: 60%;
		margin: auto;
	}

	.title-r{
		margin: 0px;
		font-size: 100px;
		text-align: center;
		color: white;
		font-family: sans-serif;
	}

	.sub-heading-r{
		margin: 0px;
		font-size: 70px;
		text-align: center;
		color: white;
		font-family: sans-serif;
	}

	.forgot-title-r{
		font-size: 30px;
		color: #f06d46;
		margin: 0px;
	}

	.login-title-r{
		margin-bottom: 15px;
		font-size: 30px;
		color: #f06d46;
	}
	.reset-form-padding-r{
		width: 40%;
	}

	
.vertical-align-title-r{
	text-align: center;
	position: absolute;
	left: 0%;
	transform: translate(0%,-50%);
	top: 50%;
}

}

@media screen and (max-width: 769px) {

	.reset-form-padding-r{
		width: 57%;
	}

	.login-box{
		background-color: rgba(255, 255, 255, 0.6);
		height: 300px;
		border-radius: 25px;
		width: 85%;
		margin: auto;
	}

	.title-r{
		margin: 0px;
		font-size: 40px;
		text-align: center;
		color: white;
		font-family: sans-serif;
	}

	.sub-heading-r{
		margin: 0px;
		font-size: 30px;
		text-align: center;
		color: white;
		font-family: sans-serif;
	}

	.forgot-title-r{
		font-size: 25px;
		color: #f06d46;
		margin: 0px;
	}
	.login-title-r{
		margin-bottom: 20px;
		font-size: 25px;
		color: #f06d46;
	}

	.vertical-align-title-r{
		text-align: center;
		position: absolute;
		left: 0%;
		transform: translate(0%,-50%);
		top: 50%;
		display: none;
	}
	

}
