input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='text'], select {
  padding: 5px 20px;
  border: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: 0;
  height: 40px;
  font-size: 13px;
  color: #000;
}

.cursor-pointer-r {
  cursor: pointer !important;
}

.tooltipText {
  max-width: 200px;
}

.tooltipText p {
  font-size: 12px;
  margin: 0;
  color: white !important;
}

.onClick-cell-r {
  height: 28px !important;
  cursor: pointer !important;
}

.margin-0-r {
  margin: 0px !important;
}

.text-align-center-r {
  text-align: center !important;
}

.full-width-r {
  width: 100% !important;
}

.display-none-r {
  display: none !important;
}

.text-color-r {
  color: #255b7a !important;
}

.text-color-r:hover {
  color: #f06d46 !important;
  text-decoration: underline !important;
}

.text-color-white-r {
  color: #ffffff !important;
}

.background-color-r {
  background-color: #f17b58 !important;
}

.cross-r {
  color: red;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.check-r {
  color: green;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.year-month-border-r {
  border-radius: 5px;
  border: 1px solid #d9d4d4 !important;
}

.card-body-margin-r {
  margin: 5px auto;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.font-20-r {
  font-size: 20px !important;
}

.tab-space-r {
  margin-bottom: 35px !important;
  margin-top: 0px !important;
}

.upload-box-border-r {
  border: 2px dashed #777;
  height: 200px;
  padding: 10px;
}

.browse-upload-margin-r {
  margin: 10px auto;
  display: inline-block;
  width: 100%;
}

.delete-modal-padding-r {
  padding: 20px;
  height: 130px;
}

.warning-msg-r {
  font-size: 20px;
  color: #255b7a;
  text-align: center;
  margin: 0px;
}

.icon-margin-r {
  text-align: center;
  margin: 20px;
}

.reset-input-box-r {
  color: #255b7a !important;
  border-color: #f06d46 !important;
  margin-bottom: 15px;
}

.forgot-input-box-r {
  color: #255b7a !important;
  border-color: #f06d46 !important;
}

.padding-20-r {
  padding: 20px 50px;
}

.image-center-r {
  display: flex;
  justify-content: center;
}

.editButton-r {
  color: blue;
  margin: 0px 10px;
  cursor: pointer;
}

.infoButton-r {
  color: blue !important;
  margin: 0px 10px !important;
  cursor: pointer !important;
}

.deleteButton-r {
  color: red !important;
  margin: 0px 7px !important;
  cursor: pointer !important;
}

.delete-icon-r {
  font-size: 20px;
  margin-left: -15px;
  color: black;
  cursor: pointer;
  position: absolute;
  margin-top: -15px;
}

.delete-bill-icon-r {
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: absolute;
  right: 0%;
  top: 3%;
}

.delete-report-icon-r {
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: relative;
  top: -18px;
  left: 100px;
}

.download-report-icon-r {
  font-size: 20px;
  color: #255b7a;
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -90px;
  z-index: 1;
}

.resend-report-icon-r {
  font-size: 20px;
  color: #255b7a;
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -90px;
  z-index: 1;
}

.status-button-r {
  visibility: visible !important;
  height: 20px;
  width: 20px;
  position: relative !important;
  cursor: pointer;
}

.margin-top-b-25-r {
  margin-top: 25px !important;
}

.margin-bottom-b-60-r {
  margin-bottom: 60px !important;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.padding-5-r {
  padding: 5px !important;
}

.scroll-r {
  padding: 20px !important;
  overflow: auto;
  height: 400px !important;
}

.card-scroll-r {
  padding: 10px !important;
  overflow: auto;
  height: 250px;
  border: 1px solid black;
  border-radius: 16px;
  margin-bottom: 10px;
}

.report-card-scroll {
  padding: 10px !important;
  overflow: auto;
  height: 330px;
  border: 1px solid black;
  border-radius: 16px;
  margin-bottom: 10px;
}

.tab-active-base-r {
  display: inline-block !important;
  margin: 0px 0px 10px !important;
  color: #ffffff;
  background: #c05738;
  height: 75px;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
}

.tab-inactive-base-r {
  display: inline-block !important;
  margin: 0px 0px 10px !important;
  color: #ffffff;
  background: #f06d46;
  height: 75px;
  width: 100%;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
}

.card-browse-one-r {
  display: inline-block !important;
  color: #ffffff;
  background: #f6f8ff;
  height: 225px;
  width: 180px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
}

.card-browse-r {
  display: inline-block !important;
  color: #ffffff;
  background: #f6f8ff;
  height: 100px;
  width: 75px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
}

.delete-one-browse-icon {
  font-size: 20px;
  margin-left: -18px;
  color: black;
  cursor: pointer;
  position: absolute;
  margin-top: -7px;
}

.delete-browse-icon {
  font-size: 20px;
  margin-left: -18px;
  color: black;
  cursor: pointer;
  position: absolute;
  margin-top: -7px;
}

.browse-image-r {
  height: 100px;
  position: relative;
  width: 100%;
  border-radius: 16px;
  padding: 3px;
}

.browse-one-image-r {
  height: 225px;
  position: relative;
  width: 100%;
  border-radius: 16px;
  padding: 5px;
}

.selected-image-r {
  height: 180px;
  position: relative;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 10px;
}

.selected-report-image-r {
  height: 160px;
  position: relative;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.card-report-r {
  display: inline-block !important;
  margin: 10px;
  color: #ffffff;
  background: #f6f8ff;
  height: 280px;
  width: 190px;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
}

.card-selected-image-r {
  display: inline-block !important;
  margin: 10px;
  color: #ffffff;
  background: #f6f8ff;
  height: 270px;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
}

.card-selected-sub-heading-r {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #255b7a;
  margin: 0px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-selected-heading-r {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #255b7a;
  margin: 0px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 15px;
}

.card-base-r {
  display: inline-block !important;
  margin: 10px;
  color: #ffffff;
  background: #f6f8ff;
  height: 300px;
  width: 210px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  position: relative;
}

.card-img-r {
  height: 180px;
  width: 100%;
}

.card-parent-img-r {
  height: 120px;
  width: 80%;
  position: relative !important;
  margin-bottom: 10px !important;
  border-radius: 10px;
  cursor: pointer;
}

.opacity-r {
  opacity: 0.4 !important;
}

.card-child-img-r {
  height: 80px;
  position: absolute;
  margin: 35px -110px;
  cursor: pointer;
}

.card-drop-down-r {
  font-size: 15px;
  position: absolute;
  top: -20px;
  left: -85px;
  color: black !important;
}

.card-status-button-r {
  visibility: visible !important;
  margin-top: -25px !important;
  color: black;
  cursor: pointer;
  position: absolute;
  height: 25px;
  width: 25px;
}

.card-heading-r {
  text-align: center;
  color: #121a30 !important;
  font-size: 21px;
  font-weight: bold !important;
  margin: 0px !important;
}

.card-sub-heading-r {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  color: #255b7a;
  /* margin: 10px 0px 0px !important; */
}

.card-text-r {
  overflow: auto;
  color: #121a30;
  margin: 5px auto;
  font-weight: normal;
  height: 20px;
}

.card-comment-box-r {
  width: 100%;
  color: black;
}

/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inputBox-r {
  height: 40px;
  width: 100%;
  color: black;
  margin: 20px 0px 20px;
}

.message-body-r {
  margin: 20px 0px 30px !important;
}

.aboutUsTitle1-r {
  margin: 0px;
  font-size: 20px;
  padding: 10px 0px;
  /* text-decoration: underline; */
}

.subHeading-1-r {
  margin: 0px;
  font-size: 20px;
  text-align: justify;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -20px !important;
  margin-left: -70px !important;
  border-radius: 10px;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 10px !important;
}

/* Links inside the dropdown */

.dropdown-content button {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
}

.background-hover-r:hover {
  background-color: #e0dcdc;
  border-radius: 5px;
  min-width: 150px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filter-year-month-r {
  margin: 25px 0px !important;
}

.view-reports-r {
  color: #255b7a;
  font-size: 18px;
  /* text-decoration: underline #255b7a; */
  margin: 0px !important;
  cursor: pointer;
  display: inline-block;
}

.static-title-r {
  margin: 10px 0px 20px !important;
  text-align: center;
  font-size: 25px;
  color: #255b7a;
  /* text-decoration: underline !important;
  text-underline-position: under !important; */
}

.main-title-r {
  text-align: center;
  font-size: 25px;
  color: #255b7a;
  margin: 10px 0px 20px !important;
  text-transform: capitalize;
}

.sub-title-r {
  text-align: center;
  font-size: 20px;
  color: #255b7a;
  margin: -10px 0px 0px !important;
}

.container {
  width: 100% !important;
}

.upload-modal-r {
  height: 350px;
  width: 100%;
  border-radius: 10px !important;
  border: 1px solid #f06d46;
  margin: 0px 0px 20px!important;
}

.table-status-approved-r {
  background-color: #d2f7d2;
  border-radius: 10px;
  padding: 5px;
  color: #57ab57;
}

.table-status-pending-r {
  background-color: #fffe96;
  border-radius: 10px;
  padding: 5px;
  color: #a19f1b;
}

.table-status-rejected-r {
  background-color: #fa0202;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.breadCrumb-bg-r {
  height: 40px;
  background-color: #EFF7FE;
  border-radius: 16px;
  padding: 10px;
  margin: 20px;
}

.breadCrumb-li-r {
  display: inline !important;
  color: black;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  text-align: center !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -5px;
}

.breadCrumb-li-child-1-r {
  display: inline !important;
  color: #9DA9B7;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -5px;
}

.breadCrumb-li-child-2-r {
  display: inline !important;
  color: #9DA9B7;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
}

.breadCrumb-li-child-1-r:hover {
  color: #f06d46 !important;
  text-decoration: underline;
}

.breadCrumb-li-child-2-r:hover {
  color: #f06d46 !important;
  text-decoration: underline;
}

.breadCrumb-li-child-r {
  display: inline !important;
  color: black;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  text-align: center !important;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
}

.lds-facebook {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f06d46;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  border-radius: 5px;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loading-text-r {
  position: absolute;
  top: 80%;
  left: 6%;
  font-size: 20px;
  color: #f06d46;
}

.modal-full-view-height-r {
  height: 90vh !important;
}

.border-radius-16-r {
  border-radius: 16px !important;
}

.message-modal-success-background-r {
  background-color: #d2fcd4;
  border-radius: 16px;
}

.message-modal-success-text-r {
  color: #008000;
}

.message-modal-failure-background-r {
  background-color: #fce3e3;
  border-radius: 16px;
}

.message-modal-failure-text-r {
  color: #d61515;
}

.card-alert-comment-box-r {
  height: 40px;
  width: 100%;
  color: black;
  margin: 10px 0px 0px;
  border: 1px solid red;
}

.alert-box-r {
  border: 1px solid red !important;
}

.error-msg-r {
  color: red !important;
  margin: -10px 0px 15px !important;
  font-size: 14px !important;
  text-align: left;
}

.card-error-msg-r {
  color: red !important;
  margin: 0px !important;
  font-size: 14px !important;
  text-align: left;
  position: absolute;
}

.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f06d46;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welcome-name-r {
  color: #f06d46 !important;
  text-decoration: none !important;
  cursor: context-menu;
  text-transform: capitalize;
}

.universal-center-r {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.nav-css-r {
  float: none !important;
}

.margin-20-r {
  margin: 20px !important;
}

.required-check-mark-r {
  margin: -5px 0px 0px 0px !important;
  color: red;
  font-size: 15px;
  display: inline-block;
  position: absolute;
}

[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

input[type="date"]:focus:before, input[type="date"]:valid:before {
  content: "";
}

.password-eye-open-r {
  position: absolute;
  margin: 32px -35px;
  color: #255b7a;
}

.password-eye-close-r {
  position: absolute;
  margin: 32px -35px;
  color: #255b7a;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f06d46;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f06d46 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-found-box-r {
  margin: 0px;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  position: absolute;
}

.heading-404-r{
  margin: 0px;
  font-size: 150px;
  color: #4d94bd;
}

.sub-heading-404-r{
margin: 0px;
    font-size: 35px;
    text-align: center;
  color: #4d94bd;

}

.notFoundBackgroundImage-r {
	position: relative;
	background: url('../img/notFound.png') center;
	background-size: cover;
	height: 92vh !important;
}

.forbiddenBackgroundImage-r{
  position: relative;
	background: url('../img/403.png') center;
	background-size: cover;
	height: 92vh !important;
}

.logo-r{
  margin-top: -11px;
  height: 40px;
}

.not-allowed {
  pointer-events: auto! important;
  cursor: not-allowed! important;
}

/* -------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {

  .check-container-r{
    background: #EFF7FE;
      height: 38vh;
      width: 100%;
      border: 1px solid #d5e7f7;
      padding: 100px;
      border-radius: 16px;
  }

  .button-base-r {
    display: inline-block !important;
    color: #ffffff;
    background: #f06d46;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
    cursor: pointer;
    text-align: center !important;
  }

  .view-reports-button-base-r {
    display: inline-block !important;
    color: #ffffff;
    background: #f06d46;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
    cursor: pointer;
    text-align: center !important;
  }

  .width-80-r {
    width: 80px !important;
  }
  .width-40-r {
    width: 40% !important;
  }
  .width-30-r {
    width: 30% !important;
  }
  .aboutus-img1-r {
    width: 90%;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
    margin: 20px;
  }

  .nodata-img1-r {
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    height: 55vh;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  .nodata-box-img1-r {
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  .nodata-box-daily-img1-r{
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    height: 36vh;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  /* button class "btn btn-primary btn-text-r" */
  .btn-text-r {
    border-radius: 5px;
    background-color: #f17b58 !important;
    padding: 0px !important;
    height: 35px !important;
    display: inline-block !important;
    color: white;
    width: 30%;
    text-align: center;
  }
  /* --------------------------------------------------- */
  /* outer-box css */
  .outer-box-r {
    padding: 25px 20px !important;
    margin-top: 50px;
  }
  /* ---------------------------------- */
  .margin-top-25-r {
    margin-top: 25px !important;
  }
  .font-30-r {
    font-size: 30px !important;
  }
  .static-form-r {
    padding: 25px 100px !important;
    margin: 0px !important;
  }
  .newEntry-r {
    float: right !important;
    margin: 0px auto 20px !important;
    width: 10% !important;
  }
  .card-full-view-parent-img-r {
    height: 75vh !important;
    width: 100%;
    position: relative !important;
    border-radius: 10px;
  }
  .breadcrumb-text-r {
    margin: 0px 5px !important;
  }
  .modal-full-view-r {
    width: 40% !important;
    height: 100vh !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 769px) {

  .check-container-r{
    background: #EFF7FE;
      height: 35vh;
      width: 100%;
      border: 1px solid #d5e7f7;
      padding: 40px;
      border-radius: 16px;
  }

  .button-base-r {
    display: inline-block !important;
    color: #ffffff;
    background: #f06d46;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
    cursor: pointer;
    text-align: center !important;
  }

  .view-reports-button-base-r {
    display: inline-block !important;
    color: #ffffff;
    background: #f06d46;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
    cursor: pointer;
    text-align: center !important;
    margin-top: 20px !important;
    transform: translate(50%,0%);
  }

  .width-40-r {
    width: 40% !important;
  }
  .static-form-r {
    margin: 0px !important;
  }
  .aboutus-img1-r {
    width: 100%;
    margin: 20px auto;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  }

  .nodata-img1-r {
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  .nodata-box-img1-r {
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  .nodata-box-daily-img1-r{
    width: 80%;
    /* box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6); */
    height: 36vh;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 57% !important;
    left: 50% !important;
  }

  /* button class "btn btn-primary btn-text-r" */
  .btn-text-r {
    border-radius: 5px;
    background-color: #f17b58 !important;
    height: 35px !important;
    display: inline-block !important;
    color: white;
    text-align: center;
  }
  /* --------------------------------------------------- */
  /* outer-box css */
  .outer-box-r {
    padding: 0px 0px 50px !important;
    margin-top: 50px;
  }
  /* --------------------------------- */
  .font-11-r {
    font-size: 11px !important;
  }
  .margin-10-r {
    margin: 10px 0px !important;
  }
  .margin-15-r {
    margin: 15px 0px !important;
  }
  .text-align-center-min-r {
    text-align: center !important;
  }
  .newEntry-r {
    float: right !important;
    margin: 0px auto 20px !important;
    width: 130px !important;
  }
  .card-full-view-parent-img-r {
    height: 75vh !important;
    width: 100%;
    position: relative !important;
    border-radius: 10px;
  }
  .breadcrumb-text-r {
    margin: 0px 5px !important;
    font-size: 12px !important;
  }

  .modal-full-view-r {
    width: 80% !important;
    height: 100vh !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

.field-container {
  position: relative;
  width: 200px;
  margin-top:20px;
  font-family: 'Roboto', sans-serif;
}

.field:focus {
  outline: 0;
}
.floating-label {
  position:absolute;
  pointer-events:none;
  top: 5px;
  left:10px;
  opacity:0;
  /* opacity:1; */
  background-color: white;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 12px;

  font-weight: 500;
  opacity:1;
  top:-5px;
  color: #f17b58;
}
/* .field:valid + .floating-label {
  opacity:1;
  top:-5px;
  color: #f17b58;
} */
.field:focus + .floating-label {
  color: #f17b58;
}

.field-underline {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:-5px;
  border:1px solid #9e9e9e;
  z-index: -1;
  padding:10px 10px 0;
}
.field:focus + .floating-label + .field-underline {
  border-color:#03a9f4;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
  counter-reset: step;
  padding: 0px !important;
}

.list1-r{
  color: #255b7a;
  font-size: 15px;
}

.list2-r{
  color: #255b7a;
  font-size: 15px;
}

#progressbar li {
	list-style-type: none;
	color: #f17b58;
	font-size: 9px;
	width: 50%;
	float: left;
  position: relative;
  text-align: center;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 20px;
  display: block;
  background: white;
  border-radius: 3px;
  color: #f17b58;
  margin: 0 auto 5px auto;
  border: 1px solid #f17b58;
  font-size: 15px;
  font-weight: 500;
}


/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
  background: #f17b58;
  color: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

.error-msg-login-r {
  color: red !important;
  margin: 5px 0px 15px !important;
  font-size: 14px !important;
  text-align: left;
}

.error-msg-forgot-r {
  color: red !important;
  margin: 5px 0px -10px !important;
  font-size: 14px !important;
  text-align: left;
}


.check-container-acc-r{
  background: #EFF7FE;
    height: 35vh;
    width: 100%;
    border: 1px solid #d5e7f7;
    padding: 40px;
    border-radius: 16px;
}

.username-center-r{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

  .button-margin-top {
    margin: 20px 0px 0px !important;
  }