input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='text'], select {
  padding: 5px 20px;
  border: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  outline: 0;
  height: 40px;
  font-size: 13px;
  color: #000;
}

.cursor-pointer-r {
  cursor: pointer !important;
}

.tooltipText {
  max-width: 280px;
}

.tooltipText p {
  font-size: 12px;
  margin: 0;
  text-transform: capitalize;
  color: var(--white) !important;
}

.onClick-cell-r{
  height: 28px !important;
  cursor: pointer !important;
}

.margin-0-r {
  margin: 0px !important;
}

.text-align-center-r {
  text-align: center !important;
}

.full-width-r {
  width: 100% !important;
}

.display-none-r {
  display: none !important;
}

.text-color-r {
  color: #255b7a !important;
}

.text-color-white-r {
  color: #ffffff !important;
}

.background-color-r {
  background-color: #f17b58 !important;
}

.cross-r {
  color: red;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.check-r {
  color: green;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

.year-month-border-r {
  border-radius: 5px;
}

.card-body-margin-r {
  margin: 5px auto;
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

.font-20-r {
  font-size: 20px !important;
}

.tab-space-r {
  margin: 35px auto;
}

.upload-box-border-r {
  border: 2px dashed #777;
  height: 200px;
  padding: 10px;
}

.browse-image-r {
  height: 240px !important;
  width: 100% !important;
  border-radius: 16px
}

.browse-multiple-image-r {
  height: 70px !important;
  width: 100% !important;
  border: 1px solid black;
  border-radius: 5px;
}

.browse-upload-margin-r {
  margin: 10px auto;
  display: inline-block;
  width: 100%;
}

.delete-modal-padding-r {
  padding: 20px;
  height: 130px;
}

.warning-msg-r {
  font-size: 20px;
  color: #255b7a;
  text-align: center;
  margin: 0px;
}

.icon-margin-r {
  text-align: center;
  margin: 20px;
}

.reset-input-box-r {
  color: #255b7a !important;
  border-color: #f06d46 !important;
  margin: 0px auto 20px !important;
}

.image-center-r {
  display: flex;
  justify-content: center;
}

.editButton-r {
  color: blue;
  margin: 0px 10px;
  cursor: pointer;
}

.infoButton-r {
  color: blue !important;
  margin: 0px 10px !important;
  cursor: pointer !important;
}

.deleteButton-r {
  color: red !important;
  margin: 0px 7px !important;
  cursor: pointer !important;
}

.error-msg-r {
  margin: 0px auto 5px !important;
  color: #f06d46 !important;
  font-size: 15px !important;
}

.delete-icon-r {
  font-size: 20px;
  margin-left: -15px;
  color: black;
  cursor: pointer;
  position: absolute;
  margin-top: -15px;
}

.delete-report-icon-r {
  font-size: 20px;
  margin-left: -30px;
  color: black;
  cursor: pointer;
  position: absolute;
}

.status-button-r {
  visibility: visible !important;
  height: 20px;
  width: 20px;
  position: relative !important;
  cursor: pointer;
}

.margin-top-b-25-r {
  margin-top: 25px !important;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.padding-5-r {
  padding: 5px !important;
}

.scroll-r {
  padding: 20px !important;
  overflow: auto;
  height: 400px !important;
}

.card-scroll-r {
  padding: 20px !important;
  overflow: auto;
  height: 280px;
}

.tab-active-base-r {
  display: inline-block !important;
  margin: 0px 0px 10px !important;
  color: #ffffff;
  background: #c05738;
  height: 75px;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
}

.tab-inactive-base-r {
  display: inline-block !important;
  margin: 0px 0px 10px !important;
  color: #ffffff;
  background: #f06d46;
  height: 75px;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
}

.button-base-r {
  display: inline-block !important;
  color: #ffffff;
  background: #f06d46;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  cursor: pointer;
  text-align: center !important;
}

.card-base-r {
  display: inline-block !important;
  margin: 10px;
  color: #ffffff;
  background: #f6f8ff;
  height: 280px;
  width: 210px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
}

.card-img-r {
  height: 100px;
  width: 100%;
}

.card-parent-img-r {
  height: 150px;
  width: 80%;
  position: relative !important;
  margin-bottom: 10px !important;
  border-radius: 10px;
  cursor: pointer;
}

.opacity-r {
  opacity: 0.4 !important;
}

.card-child-img-r {
  height: 80px;
  position: absolute;
  margin: 35px -110px;
  cursor: pointer;
}

.card-drop-down-r {
  font-size: 15px;
  position: absolute;
  top: -80px;
  left: 10px;
  color: black !important;
}

.background-hover-r:hover{
  background-color: #e0dcdc;
  border-radius: 5px;
}


.card-status-button-r {
  visibility: visible !important;
  margin-left: -107px !important;
  margin-top: -23px !important;
  color: black;
  cursor: pointer;
  position: absolute;
  height: 25px;
  width: 25px;
}

.card-heading-r {
  text-align: center;
  color: #121a30 !important;
  font-size: 21px;
  font-weight: bold !important;
  margin: 0px !important;
}

.card-sub-heading-r {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
	color: #255b7a;
  /* margin: 10px 0px 0px !important; */
}

.card-text-r {
  overflow: auto;
  color: #121a30;
  margin: 0px;
  text-align: center;
  font-weight: normal;
  height: 80px;
  margin: 10px auto;
}

.card-comment-box-r {
  height: 40px;
  width: 100%;
  color: black;
  margin: 10px 0px 0px;
}

/* width */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inputBox-r {
  height: 40px;
  width: 100%;
  color: black;
  margin: 20px 0px 0px;
}

.message-body-r {
  margin: 20px 0px 30px !important;
}

.selected-image-r {
  height: 200px;
  position: relative;
  border: 0.1px solid black;
  width: 100%;
  border-radius: 16px;
}

.aboutUsTitle1-r {
  margin: 0px;
  font-size: 20px;
  padding: 10px 0px;
  text-decoration: underline;
}

.subHeading-1-r {
  margin: 0px;
  font-size: 20px;
  text-align: justify;
}

/* Dropdown Button */

.dropbtn {
  background-color: transparent !important;
  color: black;
  border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -80px !important;
  margin-left: 27px !important;
  border-radius: 10px;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 10px !important;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

/* .dropdown-content a:hover {
	background-color: #ddd;
} */

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.filter-year-month-r {
  margin: 25px 0px !important;
}

.view-reports-r {
  color: #255b7a;
  font-size: 18px;
  text-decoration: underline #255b7a;
  margin: 0px !important;
  cursor: pointer;
  display: inline-block;
}

.static-title-r {
  margin: 10px 0px 20px !important;
  text-align: center;
  font-size: 25px;
  color: #255b7a;
  text-decoration: underline !important;
  text-underline-position: under !important;
}

.main-title-r {
  text-align: center;
  font-size: 25px;
  color: #255b7a;
  margin: 10px 0px 0px !important;
}

.sub-title-r {
  text-align: center;
  font-size: 20px;
  color: #255b7a;
  margin: 10px 0px 0px !important;
}

.container {
	width: 100% !important;
}

.upload-modal-r{
  height: 200px;
  width: 100%;
  border-radius: 10px !important;
  border: 1px solid;
  margin: 0px 0px 20px!important;
}

/* -------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 480px) {
  .width-50-r{
    width: 50% !important;
  }

  .width-40-r{
    width: 40% !important;
  }
  
  .width-30-r{
    width: 30% !important;
  }


  .aboutus-img1-r {
    width: 65%;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  }
  /* button class "btn btn-primary btn-text-r" */
  .btn-text-r {
    border-radius: 5px;
    background-color: #f17b58 !important;
    padding: 0px !important;
    height: 35px !important;
    display: inline-block !important;
    color: white;
    width: 30%;
    text-align: center;
  }
  /* --------------------------------------------------- */
  /* outer-box css */
  .outer-box-r {
    padding: 25px 20px !important;
    margin-top: 50px;
  }
  /* ---------------------------------- */
  .margin-top-25-r {
    margin-top: 25px !important;
  }
  .font-30-r {
    font-size: 30px !important;
  }

  .static-form-r {
    padding: 25px 100px !important;
    margin: 0px !important;
  }
  
  .newEntry-r {
    float: right !important;
    margin: 0px auto 20px !important;
    width: 10% !important;
  }

  .card-full-view-parent-img-r {
    height: 500px;
    width: 100%;
    position: relative !important;
    border-radius: 10px;
  }

}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 479px) {
.button-margin-top{
  margin: 15px 0px 0px !important;
}

.width-40-r{
  width: 40% !important;
}

  .static-form-r {
    margin: 0px !important;
  }
  .aboutus-img1-r {
    width: 100%;
    margin: 35px auto;
    box-shadow: 1px 3px 5px rgba(24, 50, 115, 0.6);
  }
  /* button class "btn btn-primary btn-text-r" */
  .btn-text-r {
    border-radius: 5px;
    background-color: #f17b58 !important;
    height: 35px !important;
    display: inline-block !important;
    color: white;
    text-align: center;
  }
  /* --------------------------------------------------- */
  /* outer-box css */
  .outer-box-r {
    padding: 0px 0px 50px !important;
    margin-top: 50px;
  }
  /* --------------------------------- */
  .font-11-r {
    font-size: 11px !important;
  }
  .margin-10-r {
    margin: 10px 0px !important;
  }
  .text-align-center-min-r {
    text-align: center !important;
  }
  .newEntry-r {
    float: right !important;
    margin: 0px auto 20px !important;
    width: 26% !important;
  }

  .card-full-view-parent-img-r {
    height: 250px;
    width: 100%;
    position: relative !important;
    border-radius: 10px;
  }

}