#scroll-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	padding: 10px 0;
	opacity: 0;
	visibility: hidden;
	z-index: 9
}

#scroll-top.showScrollTop {
	opacity: 1;
	visibility: visible
}

input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], select {
	padding: 5px 20px;
	border: 0;
	display: inline-block;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .12);
	outline: 0;
	height: 40px;
	font-size: 13px;
	color: #000
}