body {
	margin: 0px !important;
	padding: 0px !important;
}

.tab-inactive-r {
	background-color: #f17b58 !important;
	height: 70px;
}

.card-price-r {
	background-color: #ededed;
	border-radius: 5px;
}

.card-margin-r {
	margin: 15px auto 0px;
}

.tab-active-r {
	background-color: #c05738 !important;
	height: 70px;
	/* box-shadow: 5px 7px #727272; */
	color: white !important;
}

.card-body-margin-r {
	margin: 5px auto;
	border-radius: 5px;
}

.card-button-r {
	margin: 35px auto;
}

.upload-box-border-r {
	border: 2px dashed #777;
	height: 200px;
	padding: 10px;
}

.selected-image-r {
	height: 200px;
	position: relative;
	margin: 0px auto 20px;
}

.browse-image-r {
	height: 175px !important;
	width: 100% !important;
}

.browse-upload-margin-r {
	margin: 10px auto;
	display: inline-block;
	width: 100%;
}

.upload-button-r, .browse-button-r {
	background-color: #f06d46 !important;
	width: 100% !important;
	padding: 0px !important;
	height: 35px !important;
}

.reset-input-box-r {
	color: #255b7a !important;
	border-color: #f06d46 !important;
	margin: 0px auto 20px !important;
}

.reset-button-r {
	width: 25% !important;
	margin: 0px auto !important;
	background-color: #f06d46 !important;
	padding: 0px !important;
	height: 35px !important;
}

.year-month-border-r {
	border-radius: 5px;
}

.icon-margin-r {
	text-align: center;
	margin: 20px;
}

.delete-modal-padding-r {
	padding: 20px;
	height: 130px;
}

.warning-msg-r {
	font-size: 20px;
	color: #255b7a;
	text-align: center;
	margin: 0px;
}

.card-heading-r, .card-sub-heading-r {
	text-align: center;
	color: #255b7a !important;
	font-size: 15px;
	font-weight: 600 !important;
}

.card-sub-heading-r {
	font-size: 12px;
}

.card-image-r {
	height: 150px;
	width: 100%;
	border-radius: 5px;
	margin: 10px auto 0px;
}

.container {
	width: 100% !important;
}

.icon-customization-download-r {
	font-size: 20px !important;
	position: absolute !important;
	margin: -2px -10px;
}

@media screen and (min-width: 480px) {
	.download-button-r {
		background-color: #f06d46 !important;
		width: 100% !important;
		padding: 0px !important;
		height: 35px !important;
		font-size: 14px !important;
	}
	.reset-form-padding-r {
		padding: 25px 50px !important;
	}
	.outer-box-r {
		padding: 0px 20px !important;
	}
	.view-reports-r {
		text-decoration: underline;
		font-size: 20px;
		margin: 4px auto;
		text-align: center;
	}
	#header {
		margin: 0px !important;
		position: fixed !important;
		top: 0px;
		z-index: 100;
	}
	.filter-year-month-r {
		margin: 0px auto 20px !important;
	}
	.modal-width-r {
		width: 700px !important;
	}
}

@media screen and (max-width: 479px) {
	.filter-year-month-r {
		margin: 0px auto 0px;
	}
	.download-button-r {
		background-color: #f06d46 !important;
		width: 50% !important;
		padding: 0px !important;
		height: 35px !important;
		font-size: 14px !important;
		margin: 0px 65px;
	}
	.reset-form-padding-r {
		padding: 25px !important;
	}
	.view-reports-r {
		text-decoration: underline;
		font-size: 20px;
		margin: 25px auto;
		text-align: center;
	}
	.outer-box-r {
		padding: 0px !important;
	}
	.year-month-margin-r {
		margin-top: 85px;
	}
}
.nav-bar-r{
	position: sticky !important;
		top: 0 !important;
		z-index: 1000 !important;
		background-color: #F9FDFE !important;
}

.icon-customization-r {
	font-size: 20px !important;
	position: absolute !important;
	margin: -10px;
}